@font-face {
	font-family: "Roboto"; 
	src: local('Roboto'),
		url(../src/ttf/Roboto-Regular.ttf); 
}
:root {
    --color-bg: #000;
    --color-font: #fff;
    --color-block: #121212;
    --color-block-font: #4c4c4c;
    --pc-bgc: url(../src/img/pc-bgc.png);
    --bgc: url(../src/img/bgc.png);
    --msi-pic: url(../src/img/msi.png);
    --font-size-1: 14px;
    --font-size-2: 16px;
    --font-size-3: 18px;
    --font-size-4: 24px;
    --font-size-5: 36px;
    --font-size-6: 48px;
    --font-size-7: 64px;
    --week-line: 677px;
}
.lightstyle {
    --color-bg: #fff;
    --color-font: #000;
    --color-block: #121212;
    --color-block-font: #4c4c4c;
    --pc-bgc: url(../src/img/pc-bgc_white.png);
    --bgc: url(../src/img/bgc_white.png);
    --msi-pic: url(../src/img/msi-alt.png);
}
.huge {
    --font-size-1: 21px;
    --font-size-2: 24px;
    --font-size-3: 27px;
    --font-size-4: 36px;
    --font-size-5: 54px;
    --font-size-6: 72px;
    --font-size-7: 96px;
    --week-line: 1200px;
}
body {
margin: 0;
background-color: var(--color-bg);
background-image: var(--bgc);
background-repeat: repeat;
width: 100%;
height: 100vh;
}
.intro-screen{
margin: 0px;
background-image: var(--pc-bgc);
height: auto;
background-repeat: no-repeat;
background-size: cover;
display: flex;
flex-direction: column;
}
.nav_menu_wrapper{
display: flex;
margin: 0;
padding-top: 40px;
align-items: center;
justify-content: space-between;
margin-bottom: 100px;
}
.settings-bar-wrapper{
display: none;
justify-content: space-between;
align-self: center;
}
.settings-bar{
font-family: "Roboto";
color: var(--color-font);
font-size: var(--font-size-4);
background-color: rgba(0, 0, 0, 0.25);
padding-bottom: 10px;
margin-bottom: 0;
border-radius: 0px 0px 30px 30px;
}
.font-settings, .theme-settings, .image-settings{
margin-left: 40px;
margin-right: 40px;
}
.fontbtn-def, .fontbtn-huge, .theme-btn, .img-btn{
    border: 2px;
    border-color: var(--color-font);;
    text-decoration: none;
    color: var(--color-font);
}
.nav-logo{
width: 40px;
height: 40px;
margin-left: 70px;
}
.nav_menu{
display: flex;
width: 1920px;
height: 40px;
margin-block-end: 0px;
margin-block-start: 0px;
align-items: center;
justify-content: space-between;
}
.nav-item{
display: inline;
margin-right: 3vw;
justify-content: space-around;
}
.nav-item-link{
font-family: "Roboto";
color: var(--color-font);
text-decoration: none;
justify-content: space-around;
font-size: var(--font-size-2);
}
.nav-item-btn{
font-family: "Roboto";
color: var(--color-font);
text-decoration: none;
text-align: center;
padding: 10px;
padding-left: 30px;
padding-right: 30px;
vertical-align: middle;
line-height: 0%;
font-size: var(--font-size-2);
font-weight: 700;
line-height: 150%;
}
.btn-grad{
    color: white;
}
.nav-btn{
border-radius: 50px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
background: linear-gradient(141.34deg, rgb(200, 154, 252) 9.526%,rgb(124, 106, 250) 90.216%);
padding: 10px 30px;
color: white;
justify-content: space-between;
}
.intro-content{
margin-right: auto;
margin-left: 15vw;
display: flex;
justify-content: space-evenly;
flex-direction: column;
padding: 0;
min-height: 100%;
max-width: 1296px;
box-sizing: border-box;
}
.headline{
color: var(--color-font);
font-family: "Roboto";
font-size: var(--font-size-7);
font-weight: 700;
line-height: 140%;
text-align: left;
}
.timebox{
display: flex;
justify-content: space-around;
width: 512px;
}
.timecube{
color: white;
font-family: "Roboto";
position: static;
width: 42px;
height: 50px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 31px 30px 31px 30px;
font-size: 36px;
font-weight: 700;
line-height: 140%;
text-align: left;
background: #121212;
}
.cubetext{
padding: 0;
padding-bottom: 20px;
font-size: var(--font-size-2);
font-weight: 400;
text-align: center;
}
.main_screen_money{
position: relative;
display: flex;
flex-direction: row;
background: var(--color-block);
margin-top: 22vh;
}
.money-wrapper-left,
.money-wrapper-right {
margin-right: 312px;
display: flex;
max-width: 648px;
margin: 0 auto;
padding: 35px 0;
align-items: center;
}

.buy-btn{
background: linear-gradient(140.99deg, rgb(223, 89, 80) 11.194%,rgb(69, 16, 70) 93.72%);
color: white;
border: 50px;
text-align: center;
vertical-align: middle;
}
.people-info{
display: flex;
justify-content: space-around;
flex-direction: column;
padding: 25px;
}
.people-text{
display: inline;
color:var(--color-block-font);
font-family: "Roboto";
font-size: var(--font-size-2);
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
}
.people-num{
margin: 0;
display: inline;
color:#fff;
font-family: "Roboto";
font-size: var(--font-size-2);
font-weight: 400;
line-height: 150%;
text-align: right;
margin-left: 50px;
font-weight: 700;
}
.info-line{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.progressbar {
width: 714px;
}

.bar-title {
display: flex;
}
.bar-line-empty{
width: 100%;
height: 6px;
background: white;
}

.bar-line-full{
width: 60%;
height: 6px;
background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
}

.bar-counter {
display: flex;
justify-content: space-between;
width: 100%;
}

.bar-counter{
font-size: var(--font-size-2);
line-height: 150%;
color: white;
opacity: 0.4;
}

.bar-num-left{
margin: 0;
display: inline;
color:#fff;
font-family: "Roboto";
font-size: var(--font-size-2);
font-weight: 400;
line-height: 200%;
}
.bar-num-right{
margin: 0;
display: inline;
color:#fff;
font-family: "Roboto";
font-size: var(--font-size-2);
font-weight: 400;
line-height: 200%;
text-align: right;
margin-left: 50px;
}
.about{
display: flex;
font-family: "Roboto";
margin-top: 262px;
justify-content: center;
}

.about-wrapper{
display: flex;
font-family: "Roboto";
flex-direction: row;
justify-content: space-between;
max-width: 1296px;

}

.about-img {
margin-bottom: 35px;
width: 700px;
}

.about-title {
font-weight: bold;
font-size: var(--font-size-6);
line-height: 140%;
color: var(--color-font);
margin-bottom: 45px;
}

.about-text {
flex-direction: row;
font-size: var(--font-size-2);
line-height: 160%;
color: var(--color-font);
word-wrap: break-word;
width: 636px;
}
.start{
margin-top: 200px;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
font-family: "Roboto";
}
.start-wrapper {
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.start-title {
display: flex;
align-items: center;
margin-bottom: 49px;
}

.start-title-img {
width: 127px;
height: 127px;
margin-right: 21px;
}

.start-title-text {
font-weight: bold;
font-size: var(--font-size-6);
line-height: 140%;
color: var(--color-font);
font-family: "Roboto";
}
.start-title-text {
font-weight: bold;
font-size: var(--font-size-6);
line-height: 140%;
color: var(--color-font);
text-align: left;
}
.start-subtitle {
font-size: var(--font-size-2);
line-height: 160%;
color: var(--color-font);
opacity: 0.5;
width: 411px;
margin-bottom: 80px;
}

.start-blocks-flex {
display: flex;
width: 100%;
}

.start-block {
display: flex;
flex-direction: column;
justify-content: center;
}

.sb-block{
background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
margin: 20px 0 35px 0;
}

.sb-upper-text-flex,
.sb-lower-text-flex,
.sb-block-flex {
display: flex;
align-items: center;
}

.sb-upper-text {
font-weight: bold;
font-size: var(--font-size-5);
line-height: 140%;
color: var(--color-font);
margin-right: 235px;
}
.others{
margin-right: 256px;
}
.last{
    margin-right: 0;
}
.sb-lower-text {
font-size: var(--font-size-1);
line-height: 160%;
color: var(--color-font);
opacity: 0.5;
max-width: 306px;
text-align: start;
margin-right: 18px;
font-family: "Roboto";
}

.sb-1 {
width: 324px;
height: 80px;
}

.sb-2 {
width: 324px;
height: 60px;
}

.sb-3 {
width: 324px;
height: 30px;
}

.sb-4 {
width: 324px;
height: 15px;
}
.advantages {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 200px;
}
.advantages-title {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 120px;
}

.advantages-grid {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 82px;
}

.advantages-card {
grid-column: span 1;
}

.advantages-card-wrapper {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.adv-card-icon {
width: 100px;
height: 100px;
margin-bottom: 60px;
}

.adv-card-title {
font-weight: 500;
font-size: var(--font-size-4);
line-height: 140%;
text-align: center;
color: var(--color-font);
margin-bottom: 30px;
font-family: "Roboto";
width: 416px;
}

.adv-card-content {
font-size: var(--font-size-2);
line-height: 160%;
text-align: center;
color: var(--color-font);
opacity: 0.8;
font-family: "Roboto";
width: 358px;
}
.partners{
margin-top: 200px;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
}
.partners-wrapper {
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.flex-row-main {
max-width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.partners-title-text{
font-weight: bold;
font-size: var(--font-size-6);
height: 110px;
line-height: 100px;
color: var(--color-font);
font-family: "Roboto";
}

.p-flex-row-upper,
.p-flex-row-lower {
width: 100%;
display: flex;
}

.p-flex-block-upper{
padding: 29px 66px 29px 66px;
border-right: 1px solid rgba(255, 255, 255, 0.5);
border-left: 1px solid rgba(255, 255, 255, 0.5);
border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.p-flex-block-lower {
padding: 29px 66px 29px 66px;
border-right: 1px solid rgba(255, 255, 255, 0.5);
border-left: 1px solid rgba(255, 255, 255, 0.5);
border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.p-flex-block-upper-last{
padding: 29px 66px 29px 66px;
border-right: 1px solid rgba(255, 255, 255, 0);
border-left: 1px solid rgba(255, 255, 255, 0);
border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.p-flex-block-lower-last {
padding: 29px 66px 29px 66px;
border-right: 1px solid rgba(255, 255, 255, 0);
border-left: 1px solid rgba(255, 255, 255, 0);
border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.p-flex-block-lower {
border-bottom: 0;
}

.msi-pic {
width: 198px;
height: 93px;
content: var(--msi-pic);
}
.program{
margin-top: 200px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-family: "Roboto";
}
.program-title{
display: flex;
flex-direction: column;
align-items: center;
}
.program-title-text {
margin-bottom: 30px;
}

.program-subtitle {
font-style: normal;
font-weight: normal;
font-size: var(--font-size-2);
line-height: 160%;
text-align: center;
color: var(--color-font);
opacity: 0.5;
width: 411px;
margin-bottom: 90px;
}

.program-inner-wrapper {
width: 100%;
display: flex;
justify-content: center;
}

.program-left > .program-week {
position: relative;
margin: 0 0 87px 20px;
}

.program-left .program-week::before {
position: absolute;
top: 50%;
left: 100%;
right: 0;
z-index: 5;
content: "";
width: 40px;
height: 1px;
background: var(--color-font);
transform: translate(20px, -50%);
}

.program-right .program-week {
position: relative;
margin: 0 20px 95px 60px;
}

.program-right .program-week:first-child {
margin-top: 95px;
}

.program-right .program-week::before {
position: absolute;
top: 50%;
right: 0;
left: 0;
z-index: 5;
content: "";
width: 40px;
height: 1px;
background: var(--color-font);
-webkit-transform: translate(-60px, -50%);
-ms-transform: translate(-60px, -50%);
transform: translate(-60px, -50%);
}

.program-left,
.program-right {
display: flex;
flex-direction: column;
}

.pl-title {
font-size: var(--font-size-3);
line-height: 160%;
color: var(--color-font);
opacity: 0.5;
margin-bottom: 15px;
}

.pl-content {
font-size: var(--font-size-3);
line-height: 160%;
color: var(--color-font);
width: 228px;
}

.plc {
text-align: right;
}

.prc {
text-align: start;
}
.team{
font-family: "Roboto";
margin-bottom: 200px;
}
.team-wrapper{
width: 100%;
max-width: 1296px;
margin: 0 auto;
padding-top: 150px;
min-height: 100%;
}
.program-line {
width: 6px;
height: var(--week-line);
background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
margin-left: 60px;
}
.team-grid {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 24px;
}

.team-card {
grid-column: span 1;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.team-photo {
margin-bottom: 40px;
}

.team-title {
margin-bottom: 15px;
font-weight: 500;
font-size: var(--font-size-4);
line-height: 140%;
text-align: center;
color: var(--color-font);
display: flex;
flex-direction: row;
}
.team-content {
margin-bottom: 30px;
font-size: var(--font-size-2);
line-height: 160%;
color: var(--color-font);
opacity: 0.8;
}
.team-title-text{
font-weight: bold;
font-size: var(--font-size-6);
line-height: 110px;
color: var(--color-font);
font-family: "Roboto";
}
.team-button {
width: auto;
height: auto;
padding: 10px 30px;
font-size: var(--font-size-2);
line-height: 150%;
text-align: center;
color: var(--color-font);
border: 1px solid var(--color-font);
border-radius: 50px;
}

.team-button:hover{
background: var(--color-font);
color: var(--color-bg);
font-weight: 500;
}

.email-title {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 60px;
}

.ett {
margin-bottom: 30px;
}

.email-subtitle {
font-family: "Roboto";
font-size: var(--font-size-2);
line-height: 160%;
text-align: center;
color: var(--color-font);
opacity: 0.5;
width: 411px;
}

.email-form {
flex-direction: column;
display: flex;
justify-content: center;
align-items: center;
}

.ef-form {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 40px;
}

.ef-input{
padding: 14px 30px;
width: 353px;
height: 16px;
background: var(--color-font);
opacity: 0.25;
border-radius: 50px 0px 0px 50px;
border: 0;
}

.ef-input::placeholder {
color: var(--color-bg);
opacity: 0.7;
}

.ef-button {
width: 160px;
height: 44px;
font-weight: 700;
background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
border-radius: 50px;
padding: 10px 30px;
color: white;
transform: translateX(-20%);
border: 0;
}
textarea:focus, input:focus{
outline: none;
}
.email-icons-wrapper {
display: flex;
margin-bottom: 50px;
}

.email-icon {
width: 25px;
height: 25px;
padding: 15px;
border-radius: 50px;
background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}

.email-icon {
margin-right: 30px;
}

.email-icon:last-child {
margin: 0;
}
@media (max-width: 1440px) {
    .sb-1, .sb-2, .sb-3, .sb-4{
    width: 16.875vw;
    }
    .sb-lower-text{
    max-width: 15.902vw;
    }
    .sb-upper-text{
    margin-right: 12.222vw;
    }
    .first{
    margin-right: 10.333vw;
    }
    .others{
    margin-right: 13.333vw;
    }
    .advantages-grid{
    display: flex;
    flex-direction: column;
    }
    .p-flex-row-upper,
    .p-flex-row-lower {
    width: 100%;
    display: flex;
    flex-direction: column;
    }

    .p-flex-block-upper{
    padding: 14.5px 33px 29px 66px;
    border-right: 1px solid rgba(255, 255, 255, 0);
    border-left: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    .p-flex-block-lower {
    padding: 29px 66px 29px 66px;
    border-right: 1px solid rgba(255, 255, 255, 0);
    border-left: 1px solid rgba(255, 255, 255, 0);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    }
    .p-flex-block-upper-last{
    padding: 29px 66px 29px 66px;
    border-right: 1px solid rgba(255, 255, 255, 0);
    border-left: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    .p-flex-block-lower-last {
    padding: 29px 66px 29px 66px;
    border-right: 1px solid rgba(255, 255, 255, 0);
    border-left: 1px solid rgba(255, 255, 255, 0);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    }
    .p-flex-block-lower {
    border-bottom: 0;
    }
    .msi-pic {
    width: 198px;
    height: 93px;
    }
    .money-wrapper-right{
    max-width: 300px;
    }
    .about-wrapper{
    flex-direction: column;
    width: auto;
    justify-content: space-between;
    }
    .about-img{
        width: auto;
        justify-content: center;
    }
    .about-img-pic{
        width: auto;
        height: auto;
        justify-content: center;
        }
    .nav-item-btn{
        padding: 5px 5px 5px 5px;
    }
    .nav_menu_wrapper{
        flex-direction: column;
    }
    .nav-btn{
        margin: 0;
        margin-top: 20px;
    }
    .nav-logo{
        margin: 0;
        margin-bottom: 20px;
    }
    .last{
        margin-right: 0;
    }
}

@media (max-width: 5000px){
    
}